<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="AutenticacionVehiculosEntities" connectionString="metadata=res://*/Model.ModelVehiculos.csdl|res://*/Model.ModelVehiculos.ssdl|res://*/Model.ModelVehiculos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mxzoz7y05h.database.windows.net;initial catalog=AutenticacionVehiculos;persist security info=True;user id=Paul;password=Curso2015;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>